
**/*__pycache__
**/*.pyc

.*
.mypy_cache

# git
.git
.gitignore
# environment variables 
.env
.env.example
# virtual environment
.venv
requirements-dev.txt
*.in
# data
/data
*.sqlite3
*.json
# docker
Dockerfile
